# Configurações da API
VITE_API_URL=http://localhost:3000/api

# Configurações da aplicação
VITE_APP_NAME=KontrollaPro
VITE_APP_VERSION=1.0.0

# Configurações de desenvolvimento
VITE_DEBUG=true
VITE_LOG_LEVEL=info
